.emileSeguinR9ouekotgguUnsplIcon {
    position: absolute;
    top: -182px;
    left: 0;
    width: 1512px;
    height: 1188.6px;
    object-fit: cover;
  }
  .contactFinderChild {
    position: absolute;
    top: 907px;
    left: 0;
    width: 1512px;
    height: 75px;
    mix-blend-mode: normal;
  }
  .version10 {
    margin: 0;
    white-space: pre-wrap;
  }
  .version10GroupContainer {
    position: absolute;
    top: 933px;
    left: 638px;
    font-size: var(--font-size-xs);
    font-weight: 500;
    color: var(--color-white);
    text-align: center;
    display: inline-block;
    width: 236px;
    height: 40px;
    text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  }
  .contactFinderChild1,
  .contactFinderInner,
  .contactFinderItem,
  .lineIcon {
    position: absolute;
    top: 12px;
    left: 1406px;
    max-height: 100%;
    width: 43px;
  }
  .contactFinderChild1,
  .contactFinderInner,
  .lineIcon {
    top: 24px;
  }
  .contactFinderChild1,
  .lineIcon {
    top: 0;
  }
  .contactFinderChild1 {
    top: 26px;
    left: 1438px;
  }
  .rectangleDiv {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-darkslategray);
    width: 1512px;
    height: 75px;
  }
  .contactFinderChild2,
  .sidebarIcon {
    position: absolute;
    left: 1438px;
    width: 43px;
  }
  .contactFinderChild2 {
    top: 50px;
    max-height: 100%;
  }
  .sidebarIcon {
    top: 26px;
    height: 24px;
  }
  .wrapper {
    width: 594px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 512px;
    left: 459px;
  }
  .sendMessage {
    position: absolute;
    top: 9px;
    left: 25px;
    display: inline-block;
    width: 173px;
  }
  .sendMessageWrapper {
    position: absolute;
    top: 696px;
    left: 676px;
    border-radius: 20px;
    background-color: var(--color-darkslategray);
    width: 159px;
    height: 38px;
    overflow: hidden;
    font-size: var(--font-size-base);
    color: var(--color-white);
  }
  .emailtextbox,
  .frame2ndname,
  .frameFirstname,
  .phonecontact {
    width: 281px;
    border: 0;
    background-color: transparent;
    position: absolute;
    top: 263px;
    left: 458px;
  }
  .emailtextbox,
  .frame2ndname,
  .phonecontact {
    left: 768px;
  }
  .emailtextbox,
  .phonecontact {
    width: 596px;
    top: 346px;
    left: 458px;
  }
  .phonecontact {
    top: 428px;
  }
  .contactFinder1 {
    position: absolute;
    top: 112px;
    left: 418px;
    font-size: var(--font-size-45xl);
    letter-spacing: 0.01em;
    display: flex;
    font-family: var(--font-lato);
    color: var(--color-gray);
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 676px;
  }
  .span {
    color: var(--color-crimson);
  }
  .email,
  .message,
  .name,
  .phonecontact1 {
    position: absolute;
    top: 227px;
    left: 459px;
    font-weight: 500;
  }
  .email,
  .message,
  .phonecontact1 {
    top: 397px;
  }
  .email,
  .message {
    top: 479px;
    left: 471px;
  }
  .email {
    top: 313px;
    left: 459px;
  }
  .contactFinder {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    height: 982px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  .inputBox {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
