.containerCF{
    background-color: transparent;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    max-width: 800px; 
    margin: 40px auto; /* used to be 40px */
}

.contact-finder-input{
    width: 500;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
}



.contact-finder-label{
    color: #090909;  
}


.contact-finder-input1{
    width: 800px;
    padding: 10px;
    border: 1px solid #080505;
    border-radius: 4px;
    margin-bottom: 15px; 
}

.contact-finder-label1{
    color: #090909;  
    
}


.sendmessagebtn{
    background-color: #212c39;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    width: 1000px;
    max-width: 200px;
    margin: 20px auto 0;
    color: #fff;
}



.sendmessagebtn:hover{
    background-color: #c4d0dc;

}

.text-centerCF{
    display: flex;
    flex-direction: column ;    
    align-items: center;
    gap: 9px;
    width: 100%;
    font-size: 35px;
    font-weight: 700;
    font-family: 'Libre';
}

