
.navbar-custom{
    background-color: #213555;
    color: white;
}
.template-footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    font-size: x-small;
    font-style: italic;
    font-weight: bold;
    height: 35px;
    z-index: 3;
}
.template-background{
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body.dark-mode-theme{
    background-color: black;
    color: white;
  }
body.light-mode-theme{
background-color: rgb(245, 245, 235);
color: black;
}
body.backgroundsettings{
    height: 100vh;
    background-image: url("../assets/CaravanBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-attachment: fixed;
}
/* In your template.css file */
@media (min-width: 992px) { /* Adjust this breakpoint as needed */
    .navbar-expand-lg .navbar-toggler { 
      display: none; 
    }
  }
  