.page-header {
    background-color: #f8f9fa; /* Light grey background */
    padding: 20px 0; /* Vertical padding */
    text-align: center; /* Center the text */
    margin-bottom: 20px; /* Add some space below the header */
}

.page-header h1 {
    margin: 0; /* Remove default margin */
}

.product-detail-container {
    display: flex;
    align-items: flex-start;
    border: 2px solid #000; /* Add a border around the container */
    padding: 10px; /* Add some padding inside the border */
    gap: 0; /* No gap between the image and the text */
    margin: 30px; /* Add margin around the container */
    border-radius: 10px; /* Add rounded edges to the border */
}

.product-image-container {
    margin: 20px;
}

.product-image {
    width: 300px; /* Increase the width */
    height: auto; /* Maintain the aspect ratio */
}

.product-info {
    margin-left: 30px;
    margin-top: 20px;
}

.contact-finder-button{
    justify-content: center;
    background-color: #212c39;
    border: none;
    padding: 10px 30px;
    border-radius: 20px;
    cursor: pointer;
    display: block;
    width: 350px;
    text-align: center;
    margin: 20px auto 0;
    color: #fff;
    display:flex;
    overflow: hidden;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
}