.accordion-settings{
    width: 40%;
}
.accordion-item-settings{
    border-width: 2px;
    border-style: solid;
}
.text-settings{
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
}
