.accordion-settings{
    width: 40%;
}
.accordion-item-settings{
    border-width: 2px;
    border-style: solid;
}
.header-text-settings{
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
}
.btn-settings{
    text-align: center;
    position: relative;
    left: 1px;
    bottom: 5px;
    padding-bottom: 10px;
}
.text-settings{
    font-weight: bold;
    text-align: center;
    align-content: center;
}
