
.settings-overall-settings{
    width: 50%;
    height: 100vh;
    z-index: 1;
}
.accordion-settings{
    width: 40%;
}
.accordion-item-settings{
    border-width: 2px;
    border-style: solid;
    z-index: 0;
}
.header-text-settings{
    text-align: center;
    padding-bottom: 10px;
    text-decoration: underline;
}
.btn-settings{
    text-align: center;
    position: relative;
    left: 1px;
    bottom: 5px;
    padding-bottom: 10px;
}
.text-settings{
    font-weight: bold;
    text-align: center;
    align-content: center;
}
.settings-text-settings{
    font-weight: bold;
    text-align: left;
    align-content: center;
}
.settings-img {
    width: 50px;
    height: 50px;
    opacity: 0.8;
    text-align: center;
}
hr.solid{
    border-top: 3px solid #bbb;
    padding: 0px;
    width: 80%;
    position: relative;
    left: 55px

}
