
/* Default styles for the navbar, you can place common styles here */
.navbar-custom {
    color: white; /* default text color */
  }
  
/* Light mode specific styles */
.light-mode-theme .navbar-custom {
background-color: #093125; /* Dark green background */
}
  
/* Dark mode specific styles */
.dark-mode-theme .navbar-custom {
background-color: #1b483b; /* Light green background */
color: #000000; /* Dark green text color */
}
  
.template-footer{
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 100%;
    font-size: x-small;
    font-style: italic;
    font-weight: bold;
    height: 35px;
    z-index: 3;
}
.template-background{
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
body.dark-mode-theme{
    background-color: rgb(18, 42, 34);
    color: white;
  }
body.light-mode-theme{
background-color: rgb(245, 245, 235);
color: black;
}
body.backgroundsettings{
    height: 100vh;
    background-image: url("../assets/CaravanBackground.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-attachment: fixed;
}