.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
  .gmaps-navbar-icon{
    width: 55px;
    height: 55px;
    opacity: 0.8;
    text-align: center;
  }

  .gmaps-template-container {
    display: flex;
    justify-content: center;
    text-align: center;
    position: fixed;
    bottom: 40px;
    width: 100%;
    z-index: 1;
}

.gmaps-template-catalog, .gmaps-template-cantfind {
    margin: 0 10px; 
    background-color: rgb(57, 56, 56);
    color: white;
    border-radius: 20px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gmaps-template-link{
    color: white;
    padding: 30px;
    font-size:20px;
    font-family: Arial, sans-serif;
    text-decoration: none !important;
}

.gmaps-template-catalog:hover .gmaps-template-link, 
.gmaps-template-cantfind:hover .gmaps-template-link {
    color: lightskyblue /* Change text color to blue on hover */
}

